*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a{
  /* text-decoration: none; */
}
/* spinner */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.792);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-border {
  color: #fff; /* Color of the spinner */
  position:absolute;
}
.message {
  margin-top: 7%; /* Adjust as needed */
  color: #908787; /* Message color */
  font-weight: bold; /* Message font weight */
  width: 100%;
}   

/* swal  */
.swal2-center{
  z-index: 9999;
}

.custom-slider .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-body {
  height: 400px; /* Adjust as needed */
  width: 100%; /* Full width */
  overflow: hidden; /* Hide overflow */
}

.img-body img {
  height: 100%;
  width: 100vw;
  object-fit: cover; /* Ensure the image covers the container */
}

.slide-text {
  text-align: center;
  margin-top: 20px;
}


